In [ ]:
import sys
sys.path.insert(0, '..')

import numpy as np
import pandas as pd
import time
import datetime

from shared.comparison import time_comparison

# Data Frames - Filtering on Multiple Conditions

In [ ]:
employees = pd.read_csv("data_files/employees.csv", parse_dates=["Start Date", "Last Login Time"])
employees.head()

In [ ]:
employees["Senior Management"] = employees["Senior Management"].astype("bool")
employees["Gender"] = employees["Gender"].astype("category")
employees.info()

## Male and Marketing

In [ ]:
male_mask = employees["Gender"] == "Male"
marketing_mask = employees["Team"] == "Marketing"
male_and_marketing = male_mask & marketing_mask
male_and_marketing

In [ ]:
employees[male_and_marketing].head()

## `Senior Management` or `Start Date` before Jan 1st 1990

In [ ]:
sm_mask = employees["Senior Management"] == True

In [ ]:
date_1990 = datetime.datetime(1990, 1, 1)
start_date_mask = employees["Start Date"] < date_1990

In [ ]:
sm_or_start_date_before_1990_mask = sm_mask | start_date_mask

In [ ]:
# Careful reading this... you should see the SM column true for the first few columns while the start date violates the first mask
# This is expected because it is an OR mask
employees[sm_or_start_date_before_1990_mask]

## Either `First Name` is "Robert" and `Team` is "Client Services" or `Start Date` is greater than June 1st 2016

In [ ]:
first_name_mask = employees["First Name"] == "Robert"
team_mask = employees["Team"] == "Client Services"
start_date_mask = employees["Start Date"] > datetime.datetime(2016, 6, 1)

In [ ]:
employees[(first_name_mask & team_mask) | start_date_mask]

# Data Frames - Inclusing using the `isin` Method

## Extract all Rows WHERE Team in ["Legal", "Sales", "Product"]

In [ ]:
employees["Team"].value_counts()

In [ ]:
legal_mask = employees["Team"] == "Legal"
sales_mask = employees["Team"] == "Sales"
product_mask = employees["Team"] == "Product"
filtered_by_team = employees[legal_mask | sales_mask | product_mask]

In [ ]:
filtered_by_team["Team"].value_counts()

### The Better Way

In [ ]:
team_mask = employees["Team"].isin(["Legal", "Sales", "Product"])
filtered_by_team_better = employees[team_mask]

In [ ]:
filtered_by_team_better["Team"].value_counts()

# The `.isnull()` and `.notnull()` Methods

## Extract all Rows WHERE `Team` value is `Null`

In [ ]:
team_null_mask = employees["Team"].isnull()
employees[team_null_mask].head()

# The `.between()` Method

## All Employees with Salary Between `60,000` and `70,000` inclusive

In [ ]:
salary_mask = employees["Salary"].between(60000, 70000)

In [ ]:
employees[salary_mask].head()

In [ ]:
employees[salary_mask]["Salary"].mean()

# The `.duplicated` Method

Pay close attention to the params of this method. Note, by default the `keep` param is "First".

In [ ]:
employees_sorted_by_name = employees.sort_values("First Name")

In [ ]:
employees_sorted_by_name.head()

### WHOA! Notice the `~`

The `~` inverts the mask which allows us to remove duplicates

In [ ]:
dup_first_name_mask = ~employees_sorted_by_name["First Name"].duplicated()
dup_first_name_mask

In [ ]:
employees_sorted_by_name[dup_first_name_mask].head()

# The `.drop_duplicates` Method on a DataFrame

While the `duplicated()` method can be called on a series, we can use the `.drop_duplicates` method on a `DataFrame`

In [ ]:
employees_sorted_by_name = employees.sort_values("First Name")
employees_sorted_by_name.drop_duplicates(subset=["First Name"])

In [ ]:
employees_sorted_by_gender_team = employees.sort_values("Team")
employees_sorted_by_gender_team.drop_duplicates(subset=["Team", "Gender"])